{
  "plugins": ["transform-react-jsx"],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },
  "presets": [
    ["es2015", {"modules": false}],
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
    }}]
  ]
}