.idea
node_modules
yarn.lock

server/npm-debug.log
server/node_modules
server/**/*.js
server/**/*.d.ts
server/**/*.js.map
server/**/**/*.js
server/**/**/*.d.ts
server/**/**/*.js.map

client/node_modules
client/dist/
